{:server {:hostname "0.0.0.0"
          :port 8080
          :allowed-origins #resource-config/edn #resource-config/env "ALLOWED_ORIGINS"}
 :timeouts {:user-create 20000
            :user-read 10000
            :user-update 20000
            :user-delete 10000}
 :rabbitmq {:connection {:host #resource-config/env "RABBITMQ_PORT_5672_TCP_ADDR"
                         :port #resource-config/edn #resource-config/env "RABBITMQ_PORT_5672_TCP_PORT"}
            :kehaar {:external-services
                     [{:queue "user-works.user.create"
                       :channel user-http-api.channels/create-users
                       :response true
                       :timeout 20000}
                      {:queue "user-works.user.read"
                       :channel user-http-api.channels/read-users
                       :response true
                       :timeout 10000}
                      {:queue "user-works.user.update"
                       :channel user-http-api.channels/update-users
                       :response true
                       :timeout 20000}
                      {:queue "user-works.user.delete"
                       :channel user-http-api.channels/delete-users
                       :response true
                       :timeout 10000}]}}}
