{:server {:hostname "0.0.0.0"
          :port 8080}
 :rabbitmq {:connection {:host #resource-config/env "RABBITMQ_PORT_5672_TCP_ADDR"
                         :port #resource-config/edn #resource-config/env "RABBITMQ_PORT_5672_TCP_PORT"}
            :queues {"user-http-api.ok" {:exclusive false :durable true :auto-delete false}
                     "user-works.user.create" {:exclusive false :durable true :auto-delete false}
                     "user-works.user.read" {:exclusive false :durable true :auto-delete false}
                     "user-works.user.update" {:exclusive false :durable true :auto-delete false}
                     "user-works.user.delete" {:exclusive false :durable true :auto-delete false}}}}
